<!--<div class="inner">-->
<!--    <div id="top_header">-->
<!--        <span><a href="/login" class="top_item">로그인 </a><span> | </span><a href="/join" class="top_item">  회원가입</a></span>-->
<!--    </div>-->

<!--    <div id="btm_header">-->
<!--        <a href="/" id="yours"><img src=img/Yours.png height="80"></a>-->

<!--        <ul class="nav">-->
<!--            <li><a href="/lostThings" class="nav_item">분실물</a></li>-->
<!--            <li><a href="/place" class="nav_item">장소</a></li>-->

<!--        </ul>-->

<!--        <form action="#" method="get">-->
<!--            <input type="search" id="homeSearch" name="q" placeholder="검색어를 입력하세요...">-->
<!--            <button type="submit" id="searchBtn">검색</button>-->
<!--        </form>-->

<!--        <span id="profile">-->
<!--            <li><img src="/img/profile.png" id = profile_icon onclick="">-->
<!--                <ul id="profile_dropdown">-->
<!--                    <li><a href="/info" class="dropdown_item">내 정보</a></li>-->
<!--                    <li><a href="#" class="dropdown_item">내가 등록한 분실물</a></li>-->

<!--                </ul>-->
<!--            </li>-->
<!--        </span>-->
<!--    </div>-->
<!--</div>-->

<div class="inner">
    <div id="top_header">
            <span th:if="${!isLoggedIn}">
               <a href="/logout" class="top_item">로그아웃</a>
            </span>
        <span th:if="${isLoggedIn}">
                <a href="/login" class="top_item">로그인 </a>
                <span> | </span>
                <a href="/join" class="top_item">회원가입</a>
            </span>
    </div>

    <div id="btm_header">
        <a href="/" id="yours"><img src="img/Yours.png" height="80"></a>
        <ul class="nav">
            <li><a href="/lostThings" class="nav_item">분실물</a></li>
            <li><a href="/place" class="nav_item">장소</a></li>
        </ul>

        <span id="profile">
                <li>
                    <img src="/img/profile.png" id="profile_icon" onclick="">
                    <ul id="profile_dropdown">
                        <li><a href="/info" class="dropdown_item">내 정보</a></li>
                        <li><a href="#" class="dropdown_item">내가 등록한 분실물</a></li>
                    </ul>
                </li>
            </span>
    </div>
</div>