
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/contents.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
<header id="header"></header>
<section id="contents">
    <div class="inner">
        <div id="addPlacdBorder">
            <div id="addPlaceTitle">
                <label for="keyword">장소</label>
                <input type="text" id="keyword" placeholder="장소를 입력하세요">
                <button onclick="searchPlaces()">검색</button>
            </div>
            <div id="addPlaceContents">
                <div id="map" style="width:100%;height:300px;"></div>

            </div>
            <form>
                <div id="place-info"></div>
                <div id="addPlaceBtn">
                    <button type="submit" onclick="savePlaceToServer()">등록</button>
                </div>
            </form>

        </div>
    </div>
</section>
<footer id="footer"></footer>


<script src="/javascript/fetchMainHF.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=5f47e6cf98a4ba29bc196fbed43f7531&libraries=services"></script>
<script src="/javascript/kakaoMapAPI.js"></script>
</body>
</html>








