<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/contents.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
<header id="header"></header>
<section id="contents">
    <div class="inner">
        <div id="contents_container">
            <div class="grid_item added_lost_things">
                추가된 분실물 5개 정도?
            </div>





            <div class="grid_item test1">
                뭐넣지1
            </div>

            <div class="grid_item test2">
                뭐넣지2
            </div>





        </div>
    </div>
</section>
<footer id="footer"></footer>


<script src="/javascript/fetchMainHF.js"></script>
</body>
</html>