<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/contents.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
<header id="header"></header>
<section id="contents">
    <div class="inner">
        <div id="contents_container">

            <p><img src="https://s3-ap-northeast-2.amazonaws.com/opentutorials-user-file/course/1/5641.png" height="150;"></p>
            <br>
            <p><strong id="Yours">Yours</strong> 에 오신것을 환영합니다. <strong>Yours</strong>는 다음과 같은 의미를 가지고 만들어졌습니다.</p>
            <br>
            <p>모든 사람의 소중한 물건을 잃어버리지 않게 해주는,</p>
            <p>소중한 물건을 되찾는데 편리하도록 해주는,</p>
            <p>당신의 곁에서 추억이 떠나지 않기를 원하는.</p>
            <br>
            <p>위에 적힌 것들을 실현할 수 있게, <strong>Yours</strong>는 여러분들에게 많은 지지를 할 것 입니다.</p>
            <br>
            <br>
            <br>
            <h2 style="text-decoration: underline;">어떻게 도와주나요?</h2>
            <br>
            <p><strong>Yours</strong>는 위에서 말했듯 여러분들의 시간을 최대한 단축시켜줍니다.</p>
            <br>

            <p>여러분들이 물건을 잃어버렸으면, 그냥 사이트에 들어와서 상단의 분실물을 누르면 됩니다. <br>여러 분실물 목록중 자신의 것이 있다면, 게시글을 확인하여 장소를 확인하고, 가서 찾기만 하면 됩니다.</p>
            <br>
            <p>여러분들이 물건을 주웠으면, 그냥 사이트에 들어와서 분실물 등록을 하면 됩니다. 분실물 이름, 습득한 장소, 간단한 내용만 적어주면 끝입니다. <br>단 5분도 걸리지 않습니다.</p>
            <br>
            <br>
            <h2>이 모든것을 YOURS에서 시작하세요!</h2>


        </div>
    </div>
</section>
<footer id="footer"></footer>


<script src="/javascript/fetchMainHF.js"></script>
</body>
</html>