<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/contents.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<header id="header"></header>
<section id="contents">
    <div class="inner">
        <div id="loginDiv">
            <form th:method="post" th:action="|@{/login}|" id="loginForm" th:object="${loginRequest}">
                <div id="loginHeader">
                    로그인
                </div>
                <div id="loginId" class="items">
                    <label th:for="userId">ID : </label>
                    <input type="text" th:field="*{userId}"/>
                </div>
                <br/>
                <div id="loginpw" class="items">
                    <label th:for="password">PW : </label>
                    <input type="password" th:field="*{password}"/>
                </div>
                <br/>
                <button type="submit" class="loginBtn">로그인</button>
                <button type="button" th:onclick="|location.href='@{/join}'|" class="loginBtn">회원 가입</button>

            </form>
        </div>
    </div>
</section>
<footer id="footer"></footer>

<script src="/javascript/fetchMainHF.js"></script>
</body>
</html>