<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <id>Document</id>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/contents.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/manageUser.css">
</head>
<body>
<header id="header"></header>
<section id="contents">
    <div class="inner">
        <div id="manageUser_container">
            <div id="manageUser_mainTitle">
                사용자
            </div>
            <br>
            <div id="manageUser_firstHeader">
                <div class="firstHeader_name firstHeader_items name_items">이름</div>
                <div class="firstHeader_id firstHeader_items id_items">아이디</div>
            </div>
            <div id="manageUser_contents">
                <div id="manageUser_list">
                    <div class="manageUser_name contents_items name_items">아년석</div>
                    <div class="manageUser_id contents_items id_items">ahs0331/div>
                        >
                    </div>
                    <div id="manageUser_list">
                        <div class="manageUser_name contents_items name_items">김김김</div>
                        <div class="manageUser_id contents_items id_items">aaaa</div>
                    </div>
                </div>
                <br>
                <div id="manageUser_footer">
                    <div id="manageUser_page">
                        <span><a href="#" class="directionBtn"><<</a></span>
                        <span><a href="#" class="directionBtn"><</a></span>
                        <span id="number">1 2 3</span>
                        <span><a href="#" class="directionBtn">></a></span>
                        <span><a href="#" class="directionBtn">>></a></span>
                    </div>
                    <br>
                    <div id="manageUser_Btn">
                        <div id="Btn_div">
                            <a href="addLostThing.html" id="upload_manageUser">분실물 등록</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<footer id="footer"></footer>

<script src="/javascript/fetchMainHF.js"></script>
</body>
</html>