<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/contents.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/manageLostThings.css">
</head>
<body>
<header id="header"></header>
<section id="contents">
    <div class="inner">
        <div id="lostThings_container">
            <div id="lostThings_mainTitle">
                분실물
            </div>
            <br>
            <div id="lostThings_firstHeader">
                <div class="firstHeader_name firstHeader_items name_items">이름</div>
                <div class="firstHeader_title firstHeader_items title_items">제목</div>
                <div class="firstHeader_date firstHeader_items date_items">날짜</div>
                <div class="firstHeader_remove firstHeader_items remove_items">삭제</div>
            </div>
            <div id="lostThings_contents">
                <div id="lostThings_list">
                    <div class="lostThings_name contents_items name_items">아년석</div>
                    <div class="lostThings_title contents_items title_items">버즈프로2 주웠습니다~~</div>
                    <div class="lostThings_date contents_items date_items">2024-04-15</div>
                    <button class="remove_items">삭제</button>
                </div>
                <div id="lostThings_list">
                    <div class="lostThings_name contents_items name_items">아년석</div>
                    <div class="lostThings_title contents_items title_items">버즈프로2ddd 주웠습니다~~</div>
                    <div class="lostThings_date contents_items date_items">2024-04-15</div>
                    <button class="remove_items">삭제</button>
                </div>
            </div>
            <br>
            <div id="lostThings_footer">
                <div id="lostThings_page">
                    <span><a href="#" class="directionBtn"><<</a></span>
                    <span><a href="#" class="directionBtn"><</a></span>
                    <span id="number">1 2 3</span>
                    <span><a href="#" class="directionBtn">></a></span>
                    <span><a href="#" class="directionBtn">>></a></span>
                </div>
                <br>
                <div id="lostThings_Btn">
                    <div id="Btn_div">
                        <a href="addLostThing.html" id="upload_lostThings">분실물 등록</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer id="footer"></footer>

<script src="/javascript/fetchMainHF.js"></script>
</body>
</html>