<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/contents.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/place.css">

</head>
<body>
<header id="header"></header>
<section id="contents">
    <div class="inner">
        <div id="place_container">
            <div id="place_mainTitle">
                등록된 장소
            </div>
            <br>
            <div id="place_firstHeader">
                <div class="firstHeader_num firstHeader_items num_items">번호</div>
                <div class="firstHeader_name firstHeader_items name_items">장소</div>
            </div>
            <div id="place_contents">

            </div>
            <br>
            <div id="place_footer">
<!--                <div id="place_page">-->
<!--                    <span><a href="#" class="directionBtn"><<</a></span>-->
<!--                    <span><a href="#" class="directionBtn"><</a></span>-->
<!--                    <span id="number">1 2 3</span>-->
<!--                    <span><a href="#" class="directionBtn">></a></span>-->
<!--                    <span><a href="#" class="directionBtn">>></a></span>-->
<!--                </div>-->
                <br>
                <div id="place_Btn">
                    <div id="Btn_div">
                        <a href="addPlace" id="upload_place">장소 등록</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer id="footer"></footer>

<script src="/javascript/fetchMainHF.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // 서버에서 데이터를 가져와서 HTML에 추가하는 함수
    function loadData() {
        // Ajax 요청 보내기
        $.ajax({
            url: '/getLostThingsData', // 서버에서 데이터를 가져오는 엔드포인트
            method: 'GET',
            success: function(data) {
                // 데이터를 받아서 HTML 생성 및 추가
                data.forEach(function(item, index) {
                    var html = `
                        <div class="place_list" style="display:flex;
    flex-direction: row;
    margin-top:15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #d8d8d8;">
                            <div class="place_num contents_items num_items">${index + 1}</div>
                            <div class="place_name contents_items name_items">${item.itemLocation}</div>
                        </div>
                    `;
                    $('#place_contents').append(html);
                });
            },
            error: function(xhr, status, error) {
                console.error(error);
            }
        });
    }


    // 페이지 로드 시 데이터 로드
    $(document).ready(function() {
        loadData();
    });
</script>
</body>
</html>