<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/contents.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/place.css">

</head>
<body>
<header id="header"></header>
<section id="contents">
    <div class="inner">
        <div id="place_container">
            <div id="place_mainTitle">
                장소
            </div>
            <br>
            <div id="place_firstHeader">
                <div class="firstHeader_num firstHeader_items num_items">번호</div>
                <div class="firstHeader_name firstHeader_items name_items">장소</div>
            </div>
            <div id="place_contents">
                <div id="place_list">
                    <div class="place_num contents_items num_items">1</div>
                    <div class="place_name contents_items name_items">영남대학교</div>
                </div>
                <div id="place_list">
                    <div class="place_num contents_items num_items">2</div>
                    <div class="place_name contents_items name_items">사월역</div>
                </div>
            </div>
            <br>
            <div id="place_footer">
                <div id="place_page">
                    <span><a href="#" class="directionBtn"><<</a></span>
                    <span><a href="#" class="directionBtn"><</a></span>
                    <span id="number">1 2 3</span>
                    <span><a href="#" class="directionBtn">></a></span>
                    <span><a href="#" class="directionBtn">>></a></span>
                </div>
                <br>
                <div id="place_Btn">
                    <div id="Btn_div">
                        <a href="addPlace" id="upload_place">장소 등록</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer id="footer"></footer>

<script src="/javascript/fetchMainHF.js"></script>
</body>
</html>