<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/contents.css">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
<header id="header"></header>
<section id="contents">
    <form id="signupForm" method="post" action="/signup">
        <div id="signupBorder">
            <div id="signupMain">
                <h2>회원가입</h2>
            </div>
            <div id="signupContents">
                <div id="idDiv" class="signupItems">
                    <label for="userId">아이디</label>
                    <input id="userId" name="userId" type="text" placeholder="아이디를 입력해주세요." required>
                    <button type="button" id="idCheck">중복 확인</button>
                </div>
                <div class="signupItems">
                    <label for="password">비밀번호</label>
                    <input id="password" name="password" type="password" placeholder="비밀번호를 입력해주세요." required>
                </div>
<!--                <div id="pwDiv" class="signupItems">-->
<!--                    <label for="passwordCheck">비밀번호 확인</label>-->
<!--                    <input id="passwordCheck" type="password" placeholder="비밀번호를 입력해주세요." required>-->
<!--                    <span id="caution"></span>-->
<!--                </div>-->
                <div class="signupItems">
                    <label for="name">이름</label>
                    <input id="name" name="username" type="text" placeholder="이름을 입력해주세요." required>
                </div>
            </div>
            <div id="signupFooter">
                    <span>
                        <button type="button">취소</button>
                        <button type="submit">회원가입</button>
                    </span>
            </div>
        </div>
    </form>
</section>
<footer id="footer"></footer>

<script src="/javascript/fetchMainHF.js"></script>
</body>
</html>
